In [ ]:
!pip install kiwipiepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kiwipiepy
  Downloading kiwipiepy-0.15.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 19.9 MB/s eta 0:00:00
Collecting dataclasses
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from kiwipiepy) (1.22.4)
Collecting kiwipiepy-model~=0.15
  Downloading kiwipiepy_model-0.15.0.tar.gz (30.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.5/30.5 MB 39.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: kiwipiepy-model
  Building wheel for kiwipiepy-model (setup.py) ... done
  Created wheel for kiwipiepy-model: filename=kiwipiepy_model-0.15.0-py3-none-any.whl size=30602642 sha256=002943d6e7ccf9e74b68a867df80c9b40c62aa9f95ca928a54cf056d4cade08a
  Stored in directory: /root/.cache/pip/wheels/9e/34/31/a1682c8249bf2ba89a29498d62c35c08ceb116537b4530d93e
Successfully built kiwipiepy-model
Installing collected packages: kiwipiepy-model, dataclasses, kiwipiepy
Successfully installed dataclasses-0.6 kiwipiepy-0.15.0 kiwipiepy-model-0.15.0

In [ ]:
from kiwipiepy import Kiwi
kiwi = Kiwi()

In [ ]:
text = '오늘은 자연어 처리를 배우기 좋은 날이다.'
result = kiwi.tokenize(text)

In [ ]:
result

[Token(form='오늘', tag='NNG', start=0, len=2),
 Token(form='은', tag='JX', start=2, len=1),
 Token(form='자연어', tag='NNP', start=4, len=3),
 Token(form='처리', tag='NNG', start=8, len=2),
 Token(form='를', tag='JKO', start=10, len=1),
 Token(form='배우', tag='VV', start=12, len=2),
 Token(form='기', tag='ETN', start=14, len=1),
 Token(form='좋', tag='VA', start=16, len=1),
 Token(form='은', tag='ETM', start=17, len=1),
 Token(form='날', tag='NNG', start=19, len=1),
 Token(form='이', tag='VCP', start=20, len=1),
 Token(form='다', tag='EF', start=21, len=1),
 Token(form='.', tag='SF', start=22, len=1)]

In [ ]:
def extract_noun(text):
    result = kiwi.tokenize(text)
    for token in result:
        if token.tag in ['NNG', 'NNP']:
            yield token.form

In [ ]:
list(extract_noun('어제는 홍차를 마시고, 오늘은 커피를 마셨다.'))

['어제', '홍차', '오늘', '커피']

In [ ]:
!pip install tiktoken

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tiktoken
  Downloading tiktoken-0.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.6 MB/s eta 0:00:00
Requirement already satisfied: regex>=2022.1.18 in /usr/local/lib/python3.9/dist-packages (from tiktoken) (2022.10.31)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.9/dist-packages (from tiktoken) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->tiktoken) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->tiktoken) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->tiktoken) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26.0->tiktoken) (2.0.12)
Installing collected packages: tiktoken
Successfully installed tiktoken-0.3.3

In [ ]:
import tiktoken

In [ ]:
enc = tiktoken.encoding_for_model('gpt-4')

In [ ]:
tokens = enc.encode('공부하세요')
tokens

[79225, 64189, 92245]

In [ ]:
enc.decode([79225])

'공'

In [ ]:
enc.decode([64189])

'부'

In [ ]:
enc.decode([92245])

'하세요'

In [ ]:
enc.decode(tokens)

'공부하세요'

In [ ]:
enc.encode('The apple went bad')

[791, 24149, 4024, 3958]

In [ ]:
enc.encode('사과가 상했다')

[56154, 54780, 20565, 59134, 169, 244, 20541]

In [ ]:
enc.decode([169, 244, 20541])

'했다'

In [ ]:
!wget -c https://github.com/e9t/nsmc/raw/master/ratings_train.txt

--2023-04-11 03:14:41--  https://github.com/e9t/nsmc/raw/master/ratings_train.txt
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt [following]
--2023-04-11 03:14:41--  https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14628807 (14M) [text/plain]
Saving to: ‘ratings_train.txt’

ratings_train.txt   100%[===================>]  13.95M  --.-KB/s    in 0.1s

2023-04-11 03:14:43 (106 MB/s) - ‘ratings_train.txt’ saved [14628807/14628807]

In [ ]:
import pandas as pd
df = pd.read_csv('ratings_train.txt', sep='\t', keep_default_na=False)

In [ ]:
df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features=2000, tokenizer=extract_noun)

In [ ]:
dtm = cv.fit_transform(df['document'].iloc[:10000])

/usr/local/lib/python3.9/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [ ]:
word_count = pd.DataFrame({
    '단어': cv.get_feature_names_out(),
    '빈도': dtm.sum(axis=0).flat
})

In [ ]:
word_count.sort_values('빈도', ascending=False).head(20)

       단어    빈도
1149   영화  3882
1118   연기   512
1687   최고   457
1842   평점   423
379     때   367
933   스토리   363
369   드라마   359
762    사람   356
456     말   342
824    생각   326
27     감동   319
26     감독   309
628    배우   298
264    내용   293
1402   재미   282
947    시간   269
1001  쓰레기   229
1377   작품   227
763    사랑   221
1051   액션   196

In [ ]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()

In [ ]:
x_train = dtm
y_train = df.label.iloc[:10000]

In [ ]:
model.fit(x_train, y_train)

BernoulliNB()

In [ ]:
word_logit = pd.DataFrame({
    '단어': cv.get_feature_names_out(),
    '로짓': model.feature_log_prob_[1] - model.feature_log_prob_[0]
})

In [ ]:
word_logit.sort_values('로짓')

      단어        로짓
1692  최악 -3.294820
1310  이하 -3.169657
1926  허접 -3.036126
611    밥 -2.987336
460    망 -2.936042
...   ..       ...
161    굿  2.647454
604   발견  2.780985
1101  여운  2.826795
233    꿀  3.099439
913   수작  3.358301

[2000 rows x 2 columns]

In [ ]:
x_test = cv.transform(df['document'].iloc[10000:20000])
y_test = df.label.iloc[10000:20000]

In [ ]:
model.predict(x_test)

array([1, 1, 1, ..., 0, 1, 1])

In [ ]:
model.score(x_test, y_test)

0.7019